.titulo-logo-desk {
    margin-top: 35px !important;
}

.container-form-cadastro {
    padding: 2px 0px 40px 0px;
}

label {
    color: #534F4F;
    font-weight: 100;
    margin-bottom: 6px;
    font-size: 16px;
}

input {
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px 1px #0a0a0a10;
    border-radius: 8px;
}

span {
    font-size: 12px;
    color: #534F4F;
    margin-bottom: 25px;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #534F4F;
    margin-top: 45px;
    margin-bottom: 45px;
}

.imagem-recuperar-senha{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: 400px;
    position: absolute;
    right: 0px;
}

i {
    font-size: 20px;
}