
<app-navbar></app-navbar>
    <div class="container mt-2 p-2">
        <div class="row">
            <div class="col-12 col-md-3 text-end pt-5 pe-4 d-none d-lg-block">
                <img class="imagem-restrichef" src="../../../assets/img/menina-compras.png" alt="">
            </div> 
            <div class="col-12 col-lg-7 p-4">
                <h1 class="titulo-restrichef"><i class="bi bi-robot c-primary"></i> RestriChef - Gerador de Receitas</h1>
                <p class="introducao">RestriChef é o seu gerador de receitas com IA!<br>
                Aqui você pode solicitar uma receita com os ingredientes desejados, selecionando a sua restrição e o RestriChef gera uma receita especial para você!</p>
                <input [(ngModel)]="pesquisaUsuario" class="input-restrichef" type="text" placeholder="Digite os ingredientes que você deseja">
                <div class="row">
                    <div class="col-6 pt-2">
                        <select [(ngModel)]="restricaoUsuario" class="form-select form-select-sm input-restrichef" aria-label="Small select example">
                            <option value="" selected>Selecione a Restrição:</option>
                            <option value="vegana">Vegano</option>
                            <option value="vegetariana">Vegetariano</option>
                            <option value="fitness">Fitness</option>
                            <option value="sem açúcar">Sem Açúcar</option>
                            <option value="sem lactose">Sem Lactose</option>
                            <option value="sem glúten">Sem Glúten</option>
                          </select>
                    </div>
                    <div class="col-6 text-end pt-2">
                        <app-button textButton="BUSCAR" [desabilitar]="pesquisaUsuario && restricaoUsuario" (click)="runChat()"></app-button>
                    </div>

                    <div class="col-12" *ngIf="carregando === true">
                            <div class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                                  <p>RestriChef está gerando a sua receita!</p>
                            </div>
                    </div>
                    <div class="col-12">
                        <div [class.input-receita]="carregando === false" id="respostaReceita">
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
<app-footer></app-footer>
