<footer class="text-center text-lg-start d-none d-lg-block">
    <div class="container p-3">
      <div class="row">
        <div class="col-6 col-md-4">
            <h1 class="titulo-footer-desk">Restrifood</h1>
            <h2 class="subtitulo-footer-desk mb-5">Comida para todos!</h2>
        </div>
        <div class="col-6 col-md-4">
          <h5 class="ms-5 mb-0 titulo-footer-desk">Menu</h5>
          <div class="row">
            <div class="col-6">
              <ul class="ms-5 list-unstyled">
                <li>
                  <a routerLink="/home" class="menu-footer">Home</a>
                </li>
                <li>
                  <a routerLink="/favoritos" class="menu-footer">Favoritos</a>
                </li>
                <li>
                  <a routerLink="/perfil" class="menu-footer">Perfil</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/cadastrar-restaurante" class="menu-footer">Cadastrar Restaurante</a>
                </li>
                <li>
                  <a routerLink="/restrichef" class="menu-footer">RestriChef</a>
                </li>
                <li>
                  <a routerLink="/sair" class="menu-footer">Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-3 container-fluid">
          <div class="row">
            <div class="col-3">
              <i routerLink="/home" class="bi bi-house-fill"></i>
            </div>
            <div class="col-3">
              <i routerLink="/favoritos" class="bi bi-heart-fill"></i>
            </div>
            <div class="col-3">
              <i routerLink="/perfil" class="bi bi-person-fill"></i>  
            </div>
            <div class="col-3">
              <i routerLink="/restrichef" class="bi bi-robot c-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-3 copyrigth">
      © 2024 Copyright:
      <a>Restrifood Comida para Todos!</a>
    </div>
    <!-- Copyright -->
  </footer>

  <footer class="footer-mobile d-block d-lg-none">
    <div class="row text-center">
      <div class="col-2 me-4">
        <i routerLink="/home" class="bi bi-house"></i>
      </div>
      <div class="col-2 me-4">
        <i routerLink="/favoritos" class="bi bi-heart"></i>
      </div>
      <div class="col-2 me-4">
        <i routerLink="/perfil" class="bi bi-person"></i> 
      </div>
      <div class="col-2 me-4">
        <i routerLink="/restrichef" class="bi bi-robot"></i>
      </div>
    </div>
  </footer>