<div class="background-padrao">
    <div class="container">
        <div class="row">
            <!-- LADO ESQUERDO -->
            <div class="col-12 col-lg-6">
                <div class="d-none d-sm-block">
                    <h1 class="titulo-logo-desk">Restrifood</h1>
                    <h2 class="subtitulo-logo-desk mb-5">Comida para todos!</h2>
                </div>
                <!-- <i class="bi bi-arrow-left c-primary float-start"></i> -->
                <i routerLink="/login" class="bi bi-arrow-left-circle-fill c-primary float-start"></i>
                <form [formGroup]="formCadastro" class="container-form-cadastro mt-5 mt-sm-o px-sm-5">
                    <h3 class="titulo-pagina">CADASTRAR</h3>
                    <label for="cadastro-input" class="form-label">NOME</label>
                        <input type="text" class="form-control" formControlName="nome">
                    <label for="cadastro-input" class="form-label">APELIDO</label>
                        <input type="text" class="form-control" formControlName="apelido">
                    <label for="cadastro-input" class="form-label">EMAIL</label>
                        <input type="email" class="form-control" formControlName="email">
                    <label for="cadastro-input" class="form-label">TELEFONE</label>
                        <input type="text" class="form-control" formControlName="telefone">
                    <label for="cadastro-input" class="form-label">SENHA</label>
                        <input type="password" class="form-control" formControlName="senha">
                        <span>A senha deve conter 8 dígitos.</span>
                    <div class="d-block text-end mt-3 mt-md-0">
                        <app-button (click)="cadastrarUsuario()" textButton="PRONTO" [desabilitar]="formCadastro.valid"></app-button>
                        
                        <div class="card-usuario-salvo d-block d-lg-none" *ngIf="showUsuarioSalvo">
                            <h3>Usuário cadastrado com sucesso. Você será redirecionado para os termos de uso!</h3>
                        </div>
                    </div>
                </form>

            </div>

            <!-- LADO DIREITO -->

            <div class="col-6 text-center d-none d-lg-block">
                <img class="imagem-cadastro" src="../../../assets/img/menina-donuts.png" alt="">
                <br>
                <div class="card-usuario-salvo d-none d-lg-block" *ngIf="showUsuarioSalvo">
                    <h3>Usuário cadastrado com sucesso. Você será redirecionado para os termos de uso!</h3>
                </div>
            </div>

        </div>
    </div>
</div>
