<div class="background-desk d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-6 ms-5">
                <h1 class="titulo-logo-desk">Restrifood</h1>
                <h2 class="subtitulo-logo-desk">Comida para todos!</h2>
                <h3 class="ate-mais">Até mais!</h3>
                <h4 class="aguardamos">Aguardamos a sua <br> volta em breve!</h4>
                <p class="voltar">Caso deseje voltar <br> estamos <span routerLink="/login">aqui</span>!</p>
            </div>
            <div class="col-5">
                <img class="imagem-sair" src="../../../assets/img/menina-sair.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- TABLET E MOBILE -->

<div class="background-desk d-block d-lg-none">
    <div class="continer">
        <div class="row">
            <div class="col-12 text-center">
                <img class="imagem-sair-mobile" src="../../../assets/img/menina-sair.png" alt="">
            </div>
            <div class="col-12 text-center">
                <h3 class="ate-mais-mobile">Até mais!</h3>
                <h4 class="aguardamos-mobile">Aguardamos a sua <br> volta em breve!</h4>
                <p class="voltar-mobile">Caso deseje voltar estamos <span routerLink="/login">aqui</span>!</p>
            </div>
        </div>
    </div>
</div>