<app-navbar></app-navbar>
<div class="aba-titulo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="centralizado">
                    <h2  class="titulo-aba">
                        <i class="bi bi-chevron-left"></i> FAVORITOS</h2>
                </div>
            </div>
            <div class="col-5 text-end">
                <img class="imagem-aba-favoritos" src="../../../assets/img/menina-donuts-gigante.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row ">
    <div class="col-12">
        <div class="card-sem-favoritos">
            <div class="row justify-content-center">
                <div class="col-6 col-md-3 col-lg-2">
                    <img src="../../../assets/img/menina-favoritos.png" alt="" width="90%">
                </div>
                <div class="col-5">
                    <h3>Cadê os seus favoritos?</h3>
                    <p>Você ainda não tem nenhum favorito.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>