<app-navbar></app-navbar>
<div class="aba-titulo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="centralizado">
                    <h2  class="titulo-aba hover">
                        <i class="bi bi-chevron-left hover"></i> FAVORITOS</h2>
                </div>
            </div>
            <div class="col-5 text-end">
                <img class="imagem-aba-favoritos" src="../../../assets/img/menina-donuts-gigante.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row mt-5" *ngIf="!listaFavoritos?.length">
    <div class="col-12">
        <div class="card-sem-favoritos">
            <div class="row justify-content-center">
                <div class="col-6 col-md-3 col-lg-2">
                    <img src="../../../assets/img/menina-favoritos.png" alt="" width="90%">
                </div>
                <div class="col-5">
                    <h3>Cadê os seus favoritos?</h3>
                    <p>Você ainda não tem nenhum favorito.</p>
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="row mb-5 mt-5" *ngIf="listaFavoritos?.length">
    <div class="col-12 col-md-6" *ngFor="let restaurante of listaFavoritos; let i = index">
      <!-- CARD RESTAURANTE -->
        <div class="card-expansivo" >
          <div class="row">
            <div class="col-4">
              <img [src]="restaurante.imagem" onerror="this.src='../../../assets/img/erro.png'" width="90%" (click)="abreFechaCard(i)">
            </div>
            <div class="col-7" (click)="abreFechaCard(i)">
              <h3>{{restaurante.nome}}</h3>
              <p>{{restaurante.descricao}}</p>
            </div>
            <div class="col-1">
              <i class="bi bi-heart-fill mb-3 icone-coracao" [id]="restaurante.instagram" (click)="salvarFavoritos(restaurante, restaurante.instagram)"></i>
              <i class="bi bi-chevron-down icone-setinha" [id]="'setinha'+i" (click)="abreFechaCard(i)"></i>
            </div>
          </div>
          <div class="row d-none" [id]="i" (click)="abreFechaCard(i)">
            <div class="col-12 mb-2 mt-3">
              <i class="bi bi-geo-alt-fill c-primary me-2"></i><span>{{restaurante.endereco}}</span>
            </div>
            <div class="col-12 mb-2">
              <i class="bi bi-telephone-fill c-primary me-2"></i><span>{{restaurante.telefone}}</span>
            </div>
            <div class="col-12 mb-3">
              <i class="bi bi-instagram c-primary me-2"></i><span>{{restaurante.instagram}}</span>
            </div>
            <div class="col-12">
              <button class="botao-categoria" *ngFor="let categoria of restaurante.categoria">{{categoria | uppercase}}</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>