<div class="background-login-mobile d-block d-lg-none">
    <div class="container">
        <div class="row">
            <div class="col-12 p-3">
                <!-- <i class="bi bi-arrow-left c-primary seta-voltar"></i> -->
                <i class="bi bi-arrow-left-circle-fill c-primary float-start"></i>
                <img class="imagem-login" src="../../../assets/img/menina-login.png" alt="">
                <div class="container-login">
                    <div class="col-12 container-form">
                        <label for="login-input" class="form-label">EMAIL</label>
                            <input type="email" class="form-control">
                        <label for="login-input" class="form-label">SENHA</label>
                            <input type="password" class="form-control">
                            <div class="text-center mt-4">
                                <button routerLink="/termos" class="botao-branco">ENTRAR</button>
                                <p routerLink="/cadastro" class="link-cadastrar hover">CADASTRAR</p>
                            </div>    
                    </div>
                </div>
                <div class="esqueceu-senha text-center mb-5">
                    <p routerLink="/recuperar" class="hover">Opa! Esqueceu a Senha?</p>
                    <p class="cor-recuperar-senha">Sem problemas! <br> Você pode recuperá-la <span routerLink="/recuperar" class="hover">aqui!</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
